/* MEDIA QUERIES */

@media (max-width: 1180px) {
	.about div {
		animation: none;
	}
	.topcurls {
		width:inherit;
	}
	.subpage .about a.button {
		margin-bottom: 30px;
	}
	.subpage .hero {
		min-height: 36vh; 
	}
	.svg-wrap {
		overflow:hidden;
	}
	.about.wrapper {
		width: 100%;
	}
	svg.portrait {
		path {
			// stroke: #C00!important;
		}
	}
	.subpage .about .assets {
		margin-top: -160px;
		img:first-child {
			left: 16%;
			width: 50%;
			padding: 10px;
		}
	}
	.subpage .about .assets img:last-child {
		display:none;
	}
	.subpage .about.workSplash div.feature {
		background: url("../img/work-main-feature.jpg") no-repeat top right -155px;
	}
	.contact {
		padding-bottom:60px;
		flex-direction: column;
		div:first-child {
		    width: 100%;
		    margin-right: 0;
		}
		div:last-child {
			margin:40px 0;
		}
	}
	.subpage .about.indigo div.firstColumn,
	.subpage .about.indigo div.lastColumn  {
		width: 50%;
		img {
			width: 100%;
		}
	}

}

@media (max-width: 800px) {
	.topcurls {
		width:inherit;
	}
	svg.portrait {
	 	left: -35px;
	}
	.subpage h2 {
		margin-bottom: 30px;
	}
	.work h3 {
		margin-bottom: 30px;
	}
	.subpage .hero {
	    min-height: 36vh;
	    height: initial;
	}
	.subpage .about .flexwrap {
		flex-wrap: wrap;
	}
	.subpage .about .leftColumn {
		width: 100%;
	}

	.subpage .wrapper,
	.subpage .about div.wrapper,
	.subpage .contact.wrapper  {
		padding: 0 1% 20px 1%;
	}
	.subpage .wrapper {
		padding: 0 1% 0px 1%;
	}
	
	.subpage .about .rightColumn {
		display:flex;
		width: 100%;
		p {
			width: 100%;
		}
		img {
			align-self: baseline;
		    width: 40%;
		    margin-right: 5%;

		}
	}
	.subpage .about .flexwrap:nth-child(3) {
		div:first-child {
			display: none;
		}
	}
	.subpage .about .assets {
		margin-top:0px;
		img {
			&:first-child {
				display: block;
				left: 0;
				width: 40%;
			}
			&:nth-child(2) {
				width: 50%;
				position: relative;
				// right: -130px;
				left:0;
				// top: -30px;

			}
			&:nth-child(3) {
				width: 100%;
				margin: 30px;
				display: none;
			}
			&:nth-child(4){
				top: 0;
				width: 80%;

			}
			&:last-child {
					display:block;
			}
		}
	}
	.subpage .about .rightColumn img {
		display: none;
	}
	.subpage .about.indigo .flexwrap {
		flex-direction: column-reverse;
		padding-top:10px;	
		&:nth-child(odd){
			flex-direction: column;
		}
		&:nth-child(3) div:first-child {
		    display: block;
		}
	}
	.subpage .about.indigo img.feature {
		margin-bottom:20px;
	}
	.subpage .about.indigo .flexwrap:nth-child(3) {
		margin-top:0;
	}
	.subpage .about.indigo .flexwrap img {
		margin: 20px 0;
	}
	.subpage .about.workSplash div.feature {
		padding: 30px 50% 60px 4%;
	}
	.subpage .about.indigo div.firstColumn,
	.subpage .about.indigo div.lastColumn  {
		width: 100%;
		img {
			width: 100%;
		}
	}

}

@media (max-width: 420px) {
	.subpage h1 {
		font-size: 30px;
		margin-top:40px;
	}
	nav {
		display:none;
	}
 	.contact form .halfTwo,
 	.contact form .half {
 	    width: 100%;
 	}
 	.topcurls {
 		// padding: 0 4%;
 	}
 	
 	.hero.wrapper.workSplash {
 	    height: 10vh;
 	}
 	.subpage .about.workSplash div.feature {
 		background:none;
 		padding:0;
 	}
 	.subpage p.bump {
 		margin-top:0px;
 	}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	nav {
  		display:none;
  	}
  	.subpage h1 {
  		font-size: 30px;
  		margin-top:40px;
  	}
  	h2, p {
  		font-size: 13px;
  	}
  	h3 {
  		// font-size:5.5rem;
  		// padding: 20px 0 30px;
  	}
  	body {
  		// max-width: 480px;
  	}
  	p, 
  	.contact p, 
  	ul, 
  	.contact ul li, 
  	footer a,
  	footer p a {
  		// font-size: 2.5rem;
  		line-height: 1.5;
  	}
	.natcooper-logo {
		width: 95%; 
  		// height:200px;
  		margin-top: -60%;
	}
	svg.portrait,
	#about, 
	#work {
		display:none;
	}
	.mobile {
		display:block;
		.about-wrap {
			text-align: left;	
			padding: 0 10% 80px;
		}
	}
	#workSlider {
		padding-top: 70px;
	}
	.contact form .half,
	.contact form .halfTwo, 
	select, 
	textarea{
		width: 100%;
		margin:0;
		// font-size: 3rem;
		padding: 10px;
	}
	.contact form input[type="submit"] {
		// width: 100%;
		// margin:0;
		// font-size: 3rem;
		padding: 10px;
	}
	.contact select {
		height: initial;
		padding: 10px;
		margin: 10px 0;
	}
	.contact form .halfTwo {
		margin-top: 10px;
	}
	footer section {
		flex-direction: column;
	}
	footer .social {
		font-size: 2rem;
		margin: 0 10px;
		padding: 5px;
	}
	footer .wrapper div:first-child {
		margin:20px 0;
		display:flex;
		justify-content: space-around;
	}
	svg.topcurls {
		display:none;
	}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.subpage h1 {
	  		font-size: 30px;
	  		margin:10px 0 0;
	  	}
	  	h2, p {
	  		font-size: 13px;
	  	}
	  	h3 {
	  		// font-size:5.5rem;
	  		// padding: 20px 0 30px;
	  	}
	  	body {
	  		// max-width: 480px;
	  	}
	  	p, 
	  	.contact p, 
	  	ul, 
	  	.contact ul li, 
	  	footer a,
	  	footer p a {
	  		// font-size: 2.5rem;
	  		line-height: 1.5;
	  	}
		.natcooper-logo {
			width: 95%; 
	  		// height:200px;
	  		margin-top: -60%;
		}
		svg.portrait,
		#about, 
		#work {
			display:none;
		}
		.mobile {
			display:block;
			.about-wrap {
				text-align: left;	
				padding: 0 10% 80px;
			}
		}
		#workSlider {
			padding-top: 70px;
		}
		.contact form .half,
		.contact form .halfTwo, 
		select, 
		textarea{
			width: 100%;
			margin:0;
			// font-size: 3rem;
			padding: 10px;
		}
		.contact form input[type="submit"] {
			// width: 100%;
			// margin:0;
			// font-size: 3rem;
			padding: 10px;
		}
		.contact select {
			height: initial;
			padding: 10px;
			margin: 10px 0;
		}
		.contact form .halfTwo {
			margin-top: 10px;
		}
		footer section {
			flex-direction: column;
		}
		footer .social {
			font-size: 2rem;
			margin: 0 10px;
			padding: 5px;
		}
		footer .wrapper div:first-child {
			margin:20px 0;
			display:flex;
			justify-content: space-around;
		}
		svg.topcurls {
			display:none;
		}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.subpage h1 {
  	  		font-size: 30px;
  	  		margin:10px 0 0;
  	  	}
  	  	h2, p {
  	  		font-size: 13px;
  	  	}
  	  	h3 {
  	  		// font-size:5.5rem;
  	  		// padding: 20px 0 30px;
  	  	}
  	  	body {
  	  		// max-width: 480px;
  	  	}
  	  	p, 
  	  	.contact p, 
  	  	ul, 
  	  	.contact ul li, 
  	  	footer a,
  	  	footer p a {
  	  		// font-size: 2.5rem;
  	  		line-height: 1.5;
  	  	}
  		.natcooper-logo {
  			width: 95%; 
  	  		// height:200px;
  	  		margin-top: -60%;
  		}
  		svg.portrait,
  		#about, 
  		#work {
  			display:none;
  		}
  		.mobile {
  			display:block;
  			.about-wrap {
  				text-align: left;	
  				padding: 0 10% 80px;
  			}
  		}
  		#workSlider {
  			padding-top: 70px;
  		}
  		.contact form .half,
  		.contact form .halfTwo, 
  		select, 
  		textarea{
  			width: 100%;
  			margin:0;
  			// font-size: 3rem;
  			padding: 10px;
  		}
  		.contact form input[type="submit"] {
  			// width: 100%;
  			// margin:0;
  			// font-size: 3rem;
  			padding: 10px;
  		}
  		.contact select {
  			height: initial;
  			padding: 10px;
  			margin: 10px 0;
  		}
  		.contact form .halfTwo {
  			margin-top: 10px;
  		}
  		footer section {
  			flex-direction: column;
  		}
  		footer .social {
  			font-size: 2rem;
  			margin: 0 10px;
  			padding: 5px;
  		}
  		footer .wrapper div:first-child {
  			margin:20px 0;
  			display:flex;
  			justify-content: space-around;
  		}
  		svg.topcurls {
  			display:none;
  		}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.subpage h1 {
  	  		font-size: 30px;
  	  		margin:10px 0 0;
  	  	}
  	  	h2, p {
  	  		font-size: 13px;
  	  	}
  	  	h3 {
  	  		// font-size:5.5rem;
  	  		// padding: 20px 0 30px;
  	  	}
  	  	body {
  	  		// max-width: 480px;
  	  	}
  	  	p, 
  	  	.contact p, 
  	  	ul, 
  	  	.contact ul li, 
  	  	footer a,
  	  	footer p a {
  	  		// font-size: 2.5rem;
  	  		line-height: 1.5;
  	  	}
  		.natcooper-logo {
  			width: 95%; 
  	  		// height:200px;
  	  		margin-top: -60%;
  		}
  		svg.portrait,
  		#about, 
  		#work {
  			display:none;
  		}
  		.mobile {
  			display:block;
  			.about-wrap {
  				text-align: left;	
  				padding: 0 10% 80px;
  			}
  		}
  		#workSlider {
  			padding-top: 70px;
  		}
  		.contact form .half,
  		.contact form .halfTwo, 
  		select, 
  		textarea{
  			width: 100%;
  			margin:0;
  			// font-size: 3rem;
  			padding: 10px;
  		}
  		.contact form input[type="submit"] {
  			// width: 100%;
  			// margin:0;
  			// font-size: 3rem;
  			padding: 10px;
  		}
  		.contact select {
  			height: initial;
  			padding: 10px;
  			margin: 10px 0;
  		}
  		.contact form .halfTwo {
  			margin-top: 10px;
  		}
  		footer section {
  			flex-direction: column;
  		}
  		footer .social {
  			font-size: 2rem;
  			margin: 0 10px;
  			padding: 5px;
  		}
  		footer .wrapper div:first-child {
  			margin:20px 0;
  			display:flex;
  			justify-content: space-around;
  		}
  		svg.topcurls {
  			display:none;
  		}
}