@import "normalize";

html {
	background: #212023;
	height: 100%;
	margin-bottom: 1px;
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	background: linear-gradient( 
    rgba(10, 10, 10, 0.55), 
    rgba(10, 10, 10, 0.55) 
    ), url("img/stardust.png")repeat;
    background-attachment: fixed;
}
main {
	text-align: center;
	position: relative;
	z-index: 4;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 300;
	color:#E0E0E0;
	padding: 20px 0;
	animation: fadeInUp 1s 1;
	animation-delay: 3.75s;
	opacity: 0;
	animation-fill-mode: forwards;
}
h1, h3 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 1.5px;
	font-weight: 300;
	color: #E0E0E0;
	margin: 50px 0px 0px;
}
h1 {
	font-size: 36px;
	line-height: 40px;
}
p, ul {
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 1px;
	color: #f5f5f5;
}
nav {
	animation: fadeIn 6s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 3s;
	margin-top:50px;
	a {
		position:relative;
		top:0;
		transition: 1s all;
		text-decoration: none;
		color: #e0e0e0;
		font-size: 24px;
		padding: 20px;
		&:hover {
			top: 10px;
		}
	}
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(10, 10, 10, 0.55); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.wrapper {
	width: 85%;
	text-align: center;
	margin: 0 auto;
}
.hero {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: -10vh;
}
.subpage .hero {
	height: 50vh;
	align-items: flex-start;
    justify-content: flex-end;
    padding: 0 5% 20px 5%;
	text-align: left;
	align-items:left;
	margin-bottom: 0px;
}
.topcurls {
	width: 100%;
	position: absolute;
	padding: 0 13%;
	top: 0;
	left:0;
	margin: 0 auto;
}
.natcooper-logo {
	transition: 2s all;
	width: 320px; 
	height: 50px;
}
.nudge {
	position: relative;
	left: -40px;
	animation: slideBack;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	animation-duration:2s;
}
.svg-wrap {
	min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about {
	position: relative;
	transition: all 1s;
	padding-top: 100px;
}
.about svg {
	display: block;
}
svg.portrait {
	width: 1140px;
	height: 1355px;
}
.mobile {
	display:none;
}
/* WORK SECTION */
.workCircles path,
.workCircles line{
	stroke-width: 1.5px;
}
.work svg {
	width: 100%;
	display: none;
	animation: fadeIn 8s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
	stroke-linecap: round;
	height: initial;
	margin-top: -60px;
}

.projectItem a,
.projectItem image {
	transition: 0.6s all;
}
.projectItem a:hover {
	background: #000;
}
.projectItem image:hover {
	opacity: 0.1;
}
.projectItem text,
.projectItem tspan {
	font-family: 'Josefin Sans';
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.hr-wrap {
	margin-top:30px;
	margin-bottom: 50px;
}

.hr-wrap svg {
	width: 100%;
}

.hr-wrap svg line,
.hr-wrap svg path {
	animation: draw 4s 1;
	stroke-linecap: round;
	stroke-miterlimit: 10; 
	stroke-dasharray: 700; 
	stroke-dashoffset: 700;
	animation-fill-mode: forwards;
	animation-delay:0s;
	stroke: rgba(224,224,224,0.8);
	stroke-width: 1.5px;
	fill: none;
	stroke-linecap: round;
}
.hr-wrap svg path {
	stroke-dasharray: 300; 
	stroke-dashoffset: 300;
	animation-delay:1.8s;
}

.contact {
	display: flex;
	text-align: left;
	padding: 20px 5% 130px;
}
.contact ul {
	padding-top: 4px;
    padding-left: 8px;
	width: 100%;
	li {
		margin: 0;
		padding: 0;	
		line-height: 21px;
	}
}
.contact .formSubject {
	opacity: 0.9;
}
.contact h3 {
	margin: 8px 0;
}
.contact div:first-child {
	width: 70%;
	margin-right: 5%;
}
.contact p {
	padding-top: 6px;
	margin-bottom: 40px;
	line-height: 21px;
}
.contact form {
	position: relative;
	margin-top: 14px;
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 1px;
	color: #f5f5f5;
	.half {
		width: calc(50% - 10px);
		margin-right:10px;
	}
	.halfTwo{
		margin-right: 0;
		width: 49%;
	}
}
.contact .dropdown {
	width: 100%;
	color: rgba(244,244,244,0.65);
}

.contact input,
.contact select,
.contact textarea{
	background: none;
	border: 1px solid rgba(224,224,224,0.3);
	transition: 0.25s all;
	padding: 5px;
	margin: 5px 0;
	color: #e0e0e0;
	letter-spacing: 1px;
}

.contact form textarea {
	width: 100%;
}	
.contact .services-list{
	display: flex;
}

.contact form input[type="submit"] {
	position: absolute;
	bottom:20px;
	right: 20px;
	z-index: 10;
	color: #f5f5f5;
}
.contact form input[type="submit"]:hover,
.contact form input[type="submit"]:focus {
	background: #e0e0e0;
	color:#232326;
}
.contact select {
	-webkit-appearance: none;
	  -webkit-border-radius: 0px;
	  height: 30px;
	  font-weight:normal;
}
.contact select:focus, 
.contact input:focus, 
.contact textarea:focus {
	outline-offset: none;
	outline:  none;
	border: 1px solid rgba(224,224,224,1);
}

footer {
	background: #e0e0e0;
	padding: 10px 5%;
}
footer a {
	font-size: 18px;
}
footer p a {
	color: #232326;
	font-size:12px;
}
footer a, 
footer p {
	color: #999;
	transition: color 0.5s;
	text-decoration: none;
}
footer p, 
footer a:hover {
	color: #232326;
}
footer .social {
	padding-right:10px;
}
footer section {
	display: flex;
	justify-content: space-between;
	align-items:center;
}



@import "pathAnimations";
@import "subpage";
@import "media";
