article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
::selection {
  background: #F9C80E; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F9C80E; /* Gecko Browsers */
}

html {
	background: #212023;
}
body {
	background: linear-gradient( 
    rgba(10, 10, 10, 0.55), 
    rgba(10, 10, 10, 0.55) 
    ), url("../img/stardust.png")repeat;
    background-attachment: fixed;
}

main {
	text-align: center;
	position: relative;
	z-index: 4;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(10, 10, 10, 0.55); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.wrapper {
	width: 85%;
	text-align: center;
	margin: 0 auto;
}
.hero {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: -10vh;
}
.subpage .hero {
	height: 50vh;
	align-items: flex-start;
    justify-content: flex-end;
    padding: 0 5% 20px 5%;
	text-align: left;
	align-items:left;
	margin-bottom: 0px;
}
.topcurls {
	width: 100%;
	position: absolute;
	padding: 0 13%;
	top: 0;
	left:0;
	margin: 0 auto;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 300;
	color:#E0E0E0;
	padding: 20px 0;
	animation: fadeInUp 1s 1;
	animation-delay: 3.75s;
	opacity: 0;
	animation-fill-mode: forwards;
}
.subpage h2 {
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	text-transform: none;
	animation:none;
	padding: 0;
	opacity:1;
}
h1, h3 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 1.5px;
	font-weight: 300;
	color: #E0E0E0;
	margin: 50px 0px 0px;
}
h1 {
	font-size: 36px;
}
p, ul {
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 1px;
	color: #f5f5f5;
}
nav {
	width: 100%;
	text-align: left;
	position: fixed;
	z-index: 100;
	/*top: 0;*/
}
nav a {
	text-decoration: none;
	color: transparent;
	-webkit-text-stroke: 1px #E0E0E0;
	opacity:0;
}
.natcooper-logo {
	transition: 2s all;
}
.nudge {
	position: relative;
	left: -40px;
	animation: slideBack;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	animation-duration:2s;
}

.about {
	position: relative;
	transition: all 1s;
	padding-top: 100px;
}
.svg-wrap {
	min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about svg {
	display: block;
}

.path, 
#draw-01 path, 
#draw-02 path, 
#draw-03 path,
#draw-06 path,
#draw-07 path,
#draw-08 path    {
  animation: draw 4s 1;
  stroke-linecap: round;
  stroke-miterlimit: 10; 
  stroke-dasharray: 300; 
  stroke-dashoffset: 300;
  animation-fill-mode: forwards;
  animation-delay:2.75s;
  stroke: rgba(224,224,224,0.8);
  stroke-width: 1.5px;
  fill: none;
  stroke-linecap: round;
}
.path {
	animation-delay: 3.3s;	
	stroke: #e0e0e0;
}
.first {
	stroke-dasharray: 400; 
	stroke-dashoffset: 400;
	animation-delay: 0.5s;
	animation-duration: 6s;
}
.second {
	animation-delay: 2.85s;
	animation-duration: 3s;
}

svg.portrait {
	position: relative;
	width: 100%;
	height: inherit;
    /*min-width: 1100px;*/
}
svg.portrait image {
	image-rendering: optimizeQuality;
}
#vertical-lines {
	display: block;
	z-index: 10;
}
#vertical-lines line {
	stroke: orange;
}

#draw-01 path:nth-child(5),
#draw-01 path:nth-child(6) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay: 0s;
}
#draw-01 path {
	animation-delay: 0.75s;
}
#draw-01 path:nth-child(6) {
	animation-delay: 0.92s;
}
#draw-01 path:nth-child(4),
#draw-01 path:nth-child(3) {
	animation-delay: 1.78s; /*+60s*/
}
#draw-02 path:first-child {
	stroke-dasharray: 400; 
	stroke-dashoffset: 400;
	animation-delay: 2.38s;
}
#draw-02 path:nth-child(3) {
	stroke-dasharray: 900; 
	stroke-dashoffset: 900;
	animation-delay: 2.38s;
}
#draw-01 path:first-child,
#draw-01 path:nth-child(2) {
	animation-delay: 2.58s;
}
#draw-03 path:nth-child(5) {
	animation-delay: 4.4s;
}
#draw-03 path:nth-child(10) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay: 4.5s;
}
#draw-03 path:first-child {
	animation-delay: 4.6s;
}
#draw-03 path:nth-child(4) {
	animation-delay: 4.65s;
}
#draw-03 path:nth-child(9) {
	stroke-dasharray: 800; 
	stroke-dashoffset: 800;
	animation-delay: 5s;
	animation-duration: 4s;
}
#draw-03 path:nth-child(7) {
	animation-delay: 5s;
}
#draw-03 path:nth-child(8) {
	animation-delay: 5s;
}
#draw-03 path:nth-child(3) {
	animation-delay: 5.4s;
}
#draw-03 path:nth-child(2) {
	animation-delay: 5.8s;
}
#draw-03 path:last-child {
	stroke-dasharray: 500; 
	stroke-dashoffset: 500;
	animation-delay: 6.2s;
	animation-duration: 4.15s;
}
#draw-03 path:nth-child(6) {
	animation-duration: 2.75s;
}

#draw-06 path:nth-child(2) {
	animation-delay: 0.6s;
}
#draw-06 path:nth-child(3){
	stroke-dasharray: 500; 
	stroke-dashoffset: 500;
	animation-delay: 5.1s;
}
#draw-06 path:nth-child(5){
	animation-delay: 4.15s;
}
#draw-06 path:nth-child(6) {
	animation-delay: 3.05s;
}
#draw-06 path:nth-child(7) {
	animation-delay: 5.4s;
}
#draw-06 path:nth-child(8) {
	animation-delay: 6.38s;
}
#draw-06 path:nth-child(9),
#draw-06 path:nth-child(10) {
	animation-delay: 7.38s;
}
#draw-06 path:nth-child(11) {
	animation-delay: 8.2s;
}

#draw-06 path:last-child {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay: 0.45s;
	/*animation-duration: 4.5s;*/
}
#draw-01 path,
#draw-02 path,
#draw-03 path,
#draw-06 path,
#draw-07 path {
	display: none;
}

#draw-07 path:first-child {
	animation-delay:4.4s;
}
#draw-07 path:nth-child(2),
#draw-07 path:nth-child(3) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay:3s;
}
#draw-07 path:nth-child(3) {
	animation-delay:4.4s;
}
#draw-07 path:nth-child(4) {
	stroke-dasharray: 900; 
	stroke-dashoffset: 900;
	animation-delay:6.22s;
}
#draw-07 path:nth-child(5) {
	animation-delay:0.22s;
}
#draw-07 path:nth-child(6) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay:1.6s;
}
#draw-07 path:last-child {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
}
#draw-08 path {
	/*stroke: purple;*/
	display: none;
}
#draw-08 path:first-child {
	stroke-dasharray: 900; 
	stroke-dashoffset: 900;
}
#draw-08 path:nth-child(3) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay:7.45s;
}
#draw-08 path:nth-child(4) {
	animation-delay:6.45s;
}
#draw-08 path:nth-child(5) {
	stroke-dasharray: 900; 
	stroke-dashoffset: 900;
	animation-delay:4s;
}
#draw-08 path:nth-child(6) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay:5.2s;
}
#draw-08 path:nth-child(7) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay:6s;
}
#draw-08 path:nth-child(8) {
	animation-delay:4s;
}
#draw-08 path:nth-child(9) {
	animation-delay:8.7s;
}
#draw-08 path:nth-child(10) {
	animation-delay:9.2s;
}
#draw-08 path:nth-child(11) {
	animation-delay:9.6s;
}

line {
	stroke: rgba(224,224,224,0.8);
}
#about-blurb text{
	letter-spacing: 0.5px;
}
.about-text {
	font-family: 'Josefin Sans';
}
text, tspan {
	fill: #e0e0e0;
}
tspan {
	font-size: 13px;
	font-family: "Merriweather";
	letter-spacing: 0.5px;
	font-weight: 300;
}
#about-blurb, #pic {
	display: none;
	animation: fadeIn 6s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
#fade circle,
#fade path {
	display: none;
	animation: fadeIn 8s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
	stroke-linecap: round;
	stroke: rgba(224,224,224,0.8);
	/*stroke:#000;*/
}
#pic image {
	border-radius: 50%;
}

/* ANIMATIONS WOOOOO */
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideBack {
	0% {
		position: relative;
		left: -40px;
	}
	100% {
		position: relative;
		left: 0px;
	}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



/* WORK SECTION */
.workCircles path,
.workCircles line{
	stroke-width: 1.5px;
}
.work svg {
	width: 100%;
	display: none;
	animation: fadeIn 8s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
	stroke-linecap: round;
	height: initial;
	margin-top: -60px;
}
.work ul {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.work ul ul {
	flex-direction:row;
}
.work ul li {
	width: 28%;
	height:0;
    padding-bottom: 28%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
	background: #ccc;
	margin-bottom: 30px; 
}
.work ul li p {
	float: left;
	width: 100%;
	padding-top: 30%;
	padding-left: 20px;
	line-height: 1.5em;
	padding-right: 20px;
	margin-top: 1.75em;
	text-align: center;
	color: white;
}
.projectItem a,
.projectItem image {
	transition: 0.6s all;
}
.projectItem a:hover {
	background: #000;
}
.projectItem image:hover {
	opacity: 0.1;
}
.projectItem text,
.projectItem tspan {
	font-family: 'Josefin Sans';
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.hr-wrap {
	margin-top:30px;
	margin-bottom: 50px;
}

.hr-wrap svg {
	width: 100%;
}

.hr-wrap svg line,
.hr-wrap svg path {
	animation: draw 4s 1;
	stroke-linecap: round;
	stroke-miterlimit: 10; 
	stroke-dasharray: 700; 
	stroke-dashoffset: 700;
	animation-fill-mode: forwards;
	animation-delay:0s;
	stroke: rgba(224,224,224,0.8);
	stroke-width: 1.5px;
	fill: none;
	stroke-linecap: round;
}
.hr-wrap svg path {
	stroke-dasharray: 300; 
	stroke-dashoffset: 300;
	animation-delay:1.8s;
}

.contact {
	display: flex;
	text-align: left;
	padding: 20px 5% 130px;
}
.contact ul {
	 padding-top: 4px;
	    padding-left: 8px;
	    width: 100%;
}
.contact li {

	margin: 0;
	padding: 0;	
	line-height: 21px;
}
.contact h3 {
	margin: 8px 0;
}
.contact div:first-child {
	width: 70%;
	margin-right: 5%;
}
.contact div:last-child {
	/*padding-left: 10%;*/
}
.contact p {
	padding-top: 6px;
	margin-bottom: 40px;
	line-height: 21px;
}
.contact form {
	position: relative;
	margin-top: 14px;
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 1px;
	color: #f5f5f5;
}
.contact .dropdown {
	width: 100%;
}

.contact input,
.contact textarea{
	background: none;
	border: 1px solid rgba(224,224,224,0.3);
	transition: 0.25s all;
	padding: 5px;
	margin: 5px 0;
	color: #e0e0e0;
	letter-spacing: 1px;
}
.contact form .half {
	width: calc(50% - 10px);
	margin-right:10px;
}
.contact form .halfTwo{
	margin-right: 0;
	width: 49%;
}
.contact form textarea {
	width: 100%;
}	
.contact .services-list{
	display: flex;
}

.contact form input[type="submit"] {
	position: absolute;
	bottom:20px;
	right: 20px;
	z-index: 10;
	color: #f5f5f5;
}
.contact form input[type="submit"]:hover,
.contact form input[type="submit"]:focus {
	background: #e0e0e0;
	color:#232326;
}
.contact input:focus, .contact textarea:focus {
	outline-offset: none;
	outline:  none;
	border: 1px solid rgba(224,224,224,1);
}

footer {
	background: #e0e0e0;
	padding: 10px 5%;
}
footer a {
	font-size: 18px;
}
footer a, 
footer p {
	color: #999;
	transition: color 0.5s;
	text-decoration: none;
}
footer p, 
footer a:hover {
	color: #232326;
}
footer .social {
	padding-right:10px;
}
footer section {
	display: flex;
	justify-content: space-between;
	align-items:center;
}


/* SUBPAGE STUFF */
.subpage .flexwrap {
	display: flex;
}
.subpage h1,
.subpage h2,
.subpage .about div {
	opacity: 0;
	animation: fadeIn 2.5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
.subpage .about {
	padding: 40px 0;
	background: #E0E0E0;
    text-align: left;
}

.subpage a.bodyLink {
	color: #232326;
	text-decoration: none;
	font-weight: 700;
	transition: 0.25s all;

	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}

.subpage a.bodyLink:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 1.75px;
  background: #232326;
  height: 1.75px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.subpage .about a.bodyLink:hover:before, 
.subpage .about a.bodyLink:focus:before, 
.subpage .about a.bodyLink:active:before {
  right: 0;
}


.subpage .about p {
	color:#232326;
	line-height: 1.75;
	margin: 0 0 12px;
}
.subpage p.photocreds {
	position: relative;
	top: -35px;
	text-align: right;
	padding-right: 20px;
	font-size: 10px;
	color: rgba(255,255,255,0.5);
}
.subpage p.photocreds a {
	color: rgba(255,255,255,0.5);
	transition: 0.25s all;
}
.subpage p.photocreds a:hover {
	color: rgba(255,255,255,1);
}
.subpage .about a.button {
	text-transform: uppercase;
	font-family: 'Josefin Sans';
	font-weight: bold;
	padding:10px;
	border: 1px solid #000;
	text-decoration: none;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1px;
	margin: 8px 0;
	display: inline-block;
	color: #232326;
	transition: 0.25s all;
}
.subpage .about a.button:hover{
	border: 1px solid #fff;
	background: #fff;
}
.subpage .about div.wrapper {
	padding: 0 5%;
	text-align: left;
}

.subpage .about img.feature, 
.subpage .about img.featureLast {
	width: 100%;
	margin-bottom: 40px;
}
.subpage .about img.featureLast {
	margin-top: 20px;
	margin-bottom:0;
}
.subpage .about .leftColumn {
	width: 62%;	
	padding: 0 5% 0 0;
}
.subpage .about .leftColumn img {
	width: 100%;
	margin-top: 20px;
}
.subpage .codemobile .leftColumn img {
	width: 100%;
	margin-top: 0px;
}
.subpage .about .rightColumn {
	width: 37%;
}
.subpage .about .rightColumn img {
	width: 100%;
	margin-bottom: 25px;
}
.subpage .about .flexwrap:nth-child(3){
	margin-top: 40px;
}
.subpage .about .flexwrap {
	padding: 0 2%;
}
.subpage.indigo .about img.feature {
	margin-bottom: 10px;
}
.subpage p.bump {margin-top: 22px;}
.subpage.indigo .about .flexwrap {
	margin-top: 30px;
}
.subpage .indigo .about a.button {
	margin-bottom: 40px;
}
.subpage .about.indigo div.firstColumn {
	margin-right: 4%;
}
.subpage .about .assets {
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	align-content:space-around;
	justify-content: space-around;
	position: relative;
    top: -25px;
}
.subpage .about .assets img:first-child{
	position: relative;
	left: 5%;
}
.subpage .about .assets img:last-child{
	position: relative;
	top: -20px;
}

.topcurls #animate path,
.topcurls #next line,
.topcurls #next path {
	animation: draw 4s 1;
	stroke-linecap: round;
	stroke-miterlimit: 10; 
	stroke-dasharray: 400; 
	stroke-dashoffset: 400;
	animation-fill-mode: forwards;
	animation-delay:0.5s;
	stroke: rgba(224,224,224,0.8);
	stroke-width: 1.5px;
	fill: none;
	stroke-linecap: round;
}
.topcurls #next line,
.topcurls #next path {
	animation-delay:3.6s;
}
.topcurls #animate path:first-child,
.topcurls #animate path:nth-child(10) {
	stroke-dasharray: 600; 
	stroke-dashoffset: 600;
	animation-delay:1.5s;
}
.topcurls #animate path:nth-child(2) {
	animation-delay:2.4s;
}
.topcurls #animate path:nth-child(4) {
	animation-delay:2.7s;
}
.topcurls #animate path:nth-child(6) {
	stroke-dasharray: 900; 
	stroke-dashoffset: 900;
}
.topcurls #animate path:nth-child(7) {
	animation-delay:0.98s;
}
.topcurls #animate path:nth-child(9) {
	animation-delay:3s;
}
.topcurls #animate path:nth-child(5) {
	animation-delay:1.7s;
}
.topcurls #animate path:nth-child(11) {
	animation-delay:1.13s;
}
.topcurls #animate path:nth-child(12) {
	animation-delay:1.8s;
}
.topcurls #animate path:nth-child(13) {
	animation-delay:1.3s;
}
.topcurls #animate path:last-child {
	animation-delay:2s;
}

#third path, #third circle {
	animation: fadeIn 6s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
	stroke-linecap: round;
	stroke: rgba(224,224,224,1);
}
#workSlider {
	padding: 70px 0 20px;
}
#workSlider ul {
	display: flex;
	width: 100%;
	padding: 0 8%;
	justify-content: space-around;
}
#workSlider a {
	text-decoration: none;
	border-radius: 50%;
	border: 1px solid #e0e0e0;
}
#workSlider a.prev, 
#workSlider a.next {
	border: none;
    color: #e0e0e0;
    font-size: 46px;
    align-self: center;
}
#workSlider ul li {
	width: 26%;
	position: relative;
	margin: 0 1.5%;
	list-style-type: none;
	display: flex;	
}

#workSlider ul li:focus {
	outline: none;
}

#workSlider ul li img {
	width: 100%;
	padding: 8px;	
	border-radius: 50%;
	display: flex;
	opacity:1;
	transition: 0.5s all;
}
#workSlider ul li p {
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	margin: 0;
	left: 50%;
	font-family: 'Josefin Sans';
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 18px;
	width: 95%;
	height: 95%;
	border-radius: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    opacity: 0;
    transition: 0.5s all;
}
#workSlider ul li p:hover + img {
	opacity: 0.1;
}
#workSlider ul li p:hover {
	opacity: 1;
}
#workSlider ul li p span {
	width: 80%;
}

.slick-prev {
	left: 5%;
}
.slick-next {
	right: 5%;
}
.slick-prev:before, 
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* MEDIA QUERIES */

@media (max-width: 1180px) {
	.about.wrapper {
		width: 100%;
	}
	svg.portrait {
		min-width: 990px;
	}
}

@media (max-width: 768px) {
 
}

@media (max-width: 420px) {
 
}
